.page {
    background: white;
    width: 100vw;
    height: 100vh;
}

#home-main {
    border: 1px solid green;
    padding: 10px;
    flex: 1;
    flex-direction: column;
    overflow-y: auto;
    align-items: center;
}

#home-heading {
    width: fit-content;
    margin: 10px 10px 20px 10px;
}

#home-routine-grid {
    width: 55%;
    gap: 20px;
}

.home-routine-box {
    width: 100%;
    padding: 10px;
    min-width: 10vw;
    background: #5A67BA; /*#DA8484*/
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.home-routine-checkbox {
    align-self: flex-start;
}

.home-routine-image {
    object-fit: contain;
}

#home-skinanalysis-button {
    border: 1px solid blue;
    width: 160px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: #3182CE;
    padding: 10px;
    margin: 20px 0 20px 0;
}

#home-analysis-heading {
    border: 1px solid red;
    text-align: center;
}

#home-analysis-visuals {
    border: 1px solid blue;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}